<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <form action="/newTrainGet">
        <button>newTrain</button>
    </form>
    <br>
    <br>
    <form action="/allTrain">
        <button>allTrain</button>
    </form>
    <br>
    <br>
    <form action="/lookPassTrain">
        <button>lookPassTrain</button>
    </form>
    <br>
    <br>
    <form action="/newStationGet">
        <button>newStation</button>
    </form>
</div>
</body>
</html>