<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="/newTrain">
        <button>newTrain</button>
    </form>
    <br>
    <br>
    <form action="/allTrain">
        <button>allTrain</button>
    </form>
    <br>
    <br>
    <form action="/lookPassTrain">
        <button>lookPassTrain</button>
    </form>
    <br>
    <br>
    <form action="/newStation">
        <button>newStation</button>
    </form>
</div>
</body>
</html>